<div class="p-grid">
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" style="text-align:center;">
        <h2 class="box">Cadastrar Fornecedor</h2>
    </div>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid p-offset-2">
      <span class="ui-float-label">
          <input id="float-input" type="text" size="50" pInputText [(ngModel)]="fornecedor.nomeFantasia"> 
          <label for="float-input">Nome Fantasia</label>
      </span>
    </div>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid">
      <span class="ui-float-label">
          <input id="float-input" type="text" size="50" pInputText [(ngModel)]="fornecedor.razaoSocial"> 
          <label for="float-input">Razão Social</label>
      </span>
    </div>
    <br><br><br>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid p-offset-2">
      <span class="ui-float-label">
          <input id="float-input" type="text" size="50" pInputText [(ngModel)]="fornecedor.vendedor"> 
          <label for="float-input">Vendedor</label>
      </span>
    </div>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid">
      <span class="ui-float-label">
          <input id="float-input" type="text" pInputText pKeyFilter="int" [(ngModel)]="fornecedor.codigo"> 
          <label for="float-input">Código</label>
      </span>
    </div>
    <br><br><br>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid p-offset-2">
      <span class="ui-float-label">
          <p-inputMask id="float-input" mask="99.999.999/9999-99" [(ngModel)]="fornecedor.cnpj" placeholder="99.999.999/9999-99"></p-inputMask>
          <label for="float-input">CNPJ</label>
      </span>
    </div>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid">
      <span class="ui-float-label">
          <input id="float-input" type="text" size="100" pInputText [(ngModel)]="fornecedor.logradouro"> 
          <label for="float-input">Logradouro</label>
      </span>
    </div>
    <br><br><br>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid p-offset-2">
      <span class="ui-float-label">
          <input id="float-input" type="text" pInputText pKeyFilter="int" [(ngModel)]="fornecedor.numero"> 
          <label for="float-input">Número</label>
      </span>
    </div>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid">
      <span class="ui-float-label">
          <p-inputMask id="float-input" mask="(99) 9999-9999" [(ngModel)]="fornecedor.telefone" placeholder="(99) 9999-9999"></p-inputMask>
          <label for="float-input">Telefone</label>
      </span>
    </div>
    <br><br><br>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid p-offset-2">
      <span class="ui-float-label">
          <input id="float-input" type="text" size="100" pInputText [(ngModel)]="fornecedor.complemento"> 
          <label for="float-input">Complemento</label>
      </span>
    </div>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid">
      <span class="ui-float-label">
          <input id="float-input" type="text" size="100" pInputText [(ngModel)]="fornecedor.bairro"> 
          <label for="float-input">Bairro</label>
      </span>
    </div>
    <br><br><br>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid p-offset-2">
      <span class="ui-float-label">
          <p-inputMask id="float-input" mask="99999-999" [(ngModel)]="fornecedor.cep" placeholder="99999-999"></p-inputMask>
          <label for="float-input">CEP</label>
      </span>
    </div>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid">
      <p-dropdown [options]="estados" [(ngModel)]="fornecedor.estado" placeholder="Selecione o Estado" optionLabel="nome" [showClear]="true"></p-dropdown>
    </div>
    <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 ui-fluid p-offset-2">
      <p-dropdown [options]="cidades" [(ngModel)]="fornecedor.cidade" placeholder="Selecione a Cidade" optionLabel="nome" [showClear]="true"></p-dropdown>
    </div>
  
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 ui-fluid">
      <div class="p-sm-2 p-md-2 p-lg-2 p-xl-2 ui-fluid p-offset-5">
        <button (click)="salvar(fornecedor)" pButton type="button" label="Salvar"></button>
      </div>
    </div>    
  </div>
  
  <p-toast [style]="{marginTop: '80px'}"></p-toast>