<div class="p-grid">
  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" style="text-align:center;">
    <h2 class="box">Modelo</h2>
  </div>
  <p-table [value]="modelos" class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Fabricante</th>
        <th>Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-modelo>
      <tr style="text-align:center">
        <td>{{modelo.nome}}</td>
        <td>{{modelo.tipo}}</td>
        <td>{{modelo.fabricante}}</td>
        <td>
          <p-button (click)="showDialogUpdate(fabricante)" icon="pi pi-pencil"></p-button>&nbsp;
          <p-button (click)="showDialogDelete(fabricante)" icon="pi pi-trash"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Modelo" [(visible)]="displayUpdate" [modal]="true" [responsive]="true"
  [style]="{width: '450px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <br>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="50" pInputText [value]="modelo.nome" [(ngModel)]="modelo.nome">
    <label for="float-input">Nome</label>
  </span>
  <br>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="50" pInputText [value]="modelo.tipo" [(ngModel)]="modelo.nome">
    <label for="float-input">Tipo</label>
  </span>
  <br>
  <span class="ui-fluid">
    <p-dropdown [options]="fabricantes" [(ngModel)]="modelo.fabricante" placeholder="Selecione o Fabricante"
      optionLabel="nome" [showClear]="true"></p-dropdown>
  </span>
  <br><br><br>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="atualizar(modelo)" label="Atualizar"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayUpdate=false" label="Cancelar"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Modelo" [(visible)]="displayDelete" [modal]="true" [responsive]="true"
  [style]="{width: '450px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <br>
  <span>
    <p>Deseja realmente excluir este Modelo?</p>
  </span>
  <br>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="deletar(modelo)" label="Deletar"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayDelete=false" label="Cancelar"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>